<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">
    <!-- ======== LOG PATTERN ======== -->
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n" />

    <!-- ======== CONSOLE APPENDER ======== -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- ======== FILE APPENDER (only for prod) ======== -->
    <springProfile name="prod">
        <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>logs/server.log</file>

            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <!-- xoay log theo ngày -->
                <fileNamePattern>logs/app-%d{yyyy-MM-dd}.gz</fileNamePattern>
                <maxHistory>14</maxHistory>
            </rollingPolicy>

            <encoder>
                <pattern>${LOG_PATTERN}</pattern>
            </encoder>
        </appender>
    </springProfile>

    <!-- ======== ROOT LOGGER ======== -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <!-- DEV -->
    <springProfile name="dev">
        <root level="DEBUG">
            <appender-ref ref="CONSOLE" />
        </root>
    </springProfile>

    <springProfile name="prod">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE"/>
        </root>
    </springProfile>

    <!-- ======== SQL / MYBATIS LOGGING ======== -->
    <logger name="org.mybatis" level="DEBUG"/>
    <logger name="java.sql.Statement" level="DEBUG"/>
    <logger name="java.sql.ResultSet" level="DEBUG"/>
    <logger name="java.sql.PreparedStatement" level="DEBUG"/>
    <logger name="com.htn.mapper" level="DEBUG"/>

    <!-- ======== LOG PACKAGE ỨNG DỤNG ======== -->
    <logger name="com.htn" level="DEBUG"/>

</configuration>
